<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Here are your favourites</h1>
    <ul>
      <% item.forEach((item)=>{ %>

      <li><%= item.houseName %></li>
      <li><%= item.housePrice %></li>
      <li><a href="/homes/<%= item.homeId %>">Details</a></li>
      <% }); %>
      <li>
        <a href="/host/submission">Click here to add home</a>
      </li>
    </ul>
  </body>
</html>
