<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to AirBnb</h1>
    <p>THIS IS HOME ID <%= item.homeId %></p>

    <h1><%= item.houseName %></h1>
    <h1><%= item.housePrice %></h1>
    <a href="/">press to go back home</a>
  </body>
</html>
