<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Host Homes</h1>
    <a href="/">click here to get to Home page</a>
    <h1>List of homes</h1>
    <ul>
      <% total.forEach((item)=>{ %>

      <li><%= item.houseName %></li>
      <li><%= item.housePrice %></li>
      <li>
        <form action="/host/editHome" method="post">
          <input type="hidden" name="fav" value="<%= item.homeId%>" />
          <button>Click here to edit your home</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
